/* app css stylesheet */

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content-wrapper {
  padding-top: 10px; /* buffer between content and header */
  padding-bottom: 77px; /* 67px for the footer, 10px as extra buffering */
}

.sign-in-form {
  margin: 0px auto;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1.5px solid lightblue;
  width: 350px;
  min-width: 300px;
  max-width: 400px;
}

/************************
 * General Use
 ************************/
a.nounderline:hover {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

/**
 * Datasets CSS
 */
.span-pill {
  border-radius: 4px;
  display: block;
  padding: 10px 15px;
  color: blue;
}

.span-pill:hover {
  background-color: #eeeeee;
}

.explore-link {
  display: inline-block;
  float: right;
  padding: 3px 6px;
  background-color: rgb(0, 131, 9);
  color: white;
  border-radius: 4px;
  line-height: -1.2;
}

.explore-link:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(6, 158, 16);
}

.width-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
