/* Well Modifications for Selection Breadcrumbs */

.well {
  text-align: justify;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  border-radius: 0px;
}

.well-table {
  vertical-align: middle;
  width: 100%;
  margin-top: 0.15em;
}

.well-table td {
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
}
