<div class="footer">
  <div class="col-xs-7">
    <div class="text-center">
      <ul class="nav nav-pills centered-pills">
        <li><a href="https://github.com/BYU-NLP-Lab/topicalguide/wiki">Topical Guide Wiki</a></li>
        <li><a href="http://nlp.cs.byu.edu/">NLP Home</a></li>
        <li><a href="https://cs.byu.edu">CS Department Home</a></li>
        <li><a href="http://www.byu.edu">BYU Home</a></li>
      </ul>
    </div>
    <div class="text-center">
      <ul class="nav nav-pills centered-pills">
        <li><a href="#/terms">Terms of Use</a></li>
        <li><a href="http://www.gnu.org/licenses/agpl.html">License</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-5">
    <p>Version:&nbsp;{{ version || 'Not available' }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Last updated:&nbsp;{{ lastUpdated || 'Not available' }}</p>
    <p>Developed by the BYU Natural Language Processing Lab</p>
    <p>Copyright © 2010-2011 Brigham Young University</p>
  </div>
</div>
