<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><span class="gray-green">Topic</span>al Guide</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left navbar-group">
        <li ng-class="{active: page === '/datasets'}">
          <a href="#/datasets">Datasets</a>
        </li>
        <li class="dropdown" ng-class="{active: page.startsWith('/topic')}">
         <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Topic <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li ng-class="{active: page === '/topic-all'}"><a href="#/topic-all">All Topics</a></li>
           <li ng-class="{active: page === '/topic-information'}"><a href="#/topic-information">Single Topic</a></li>
           <li ng-class="{active: page === '/topic-words'}"><a href="#/topic-words">Topic Words</a></li>
         </ul>
        </li>
        <li class="dropdown" ng-class="{active: page.startsWith('/document')}">
         <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Document <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li ng-class="{active: page === '/document-all'}"><a href="#/document-all">All Documents</a></li>
           <li ng-class="{active: page === '/document-information'}"><a href="#/document-information">Document Information</a></li>
           <li ng-class="{active: page === '/document-metadata'}"><a href="#/document-metadata">Metadata</a></li>
         </ul>
        </li>
        <li class="dropdown" ng-class="{active: page.startsWith('/visualization')}">
         <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualization <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li ng-class="{active: page === '/visualization-2d-plots'}"><a href="#/visualization-2d-plots">2D Plots</a></li>
           <li ng-class="{active: page === '/visualization-chord-diagram'}"><a href="#/visualization-chord-diagram">Chord Diagram</a></li>
           <li ng-class="{active: page === '/visualization-topics-over-time'}"><a href="#/visualization-topics-over-time">Topics Over Time</a></li>
           <li ng-class="{active: page === '/visualization-metadata-map'}"><a href="#/visualization-metadata-map">Metadata Map</a></li>
           <li ng-class="{active: page === '/visualization-tree-map'}"><a href="#/visualization-tree-map">Treemap</a></li>
         </ul>
        </li>
        <li class="dropdown" ng-class="{active: page.startsWith('/itm')}">
         <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ITM <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li ng-class="{active: page === '/itm-analysis-word-constraints'}"><a href="#/itm-analysis-word-constraints">Analysis Word Constraints</a></li>
         </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-group" ng-controller="SignInLinkController">
        <li ng-hide="signedIn"><a href="#/sign-in">Sign In</a></li>
        <li ng-show="signedIn">
          <a href=""><span class="glyphicon glyphicon-user black"></span> Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-group">
        <li><a href=""><span class="glyphicon glyphicon-pencil purple"></span></a></li>
        <li><a href=""><span class="glyphicon glyphicon-star gold"></span></a></li>
        <li><a href=""><span class="glyphicon glyphicon-question-sign blue"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
