<div class="well">
  <table class="well-table">
    <tbody>
      <tr>
        <td>Dataset:&nbsp;<span class="blue">{{ selections.getDatasetName() || 'No dataset selected' }}</span></td>
        <td>Analysis:&nbsp;<span class="blue">{{ selections.getAnalysisName() || 'No analysis selected' }}</span></td>
        <td>Topic:&nbsp;<span class="blue">{{ selections.getTopicName() || 'No topic selected' }}</span></td>
        <td>Document:&nbsp;<span class="blue">{{ selections.getDocumentName() || 'No document selected' }}</span></td>
      </tr>
    </tbody>
  </table>
</div>
