<div>
  <form class="sign-in-form" name="form" method="post" ng-action="{{postLocation}}" novalidate>
    <div class="form-group">
      <span style="font-weight: bold; font-size: 2em;">Sign In</span>
    </div>
    <div class="form-group">
      <label for="email-input">Email:</label>
      <input
        name="userEmail"
        type="email"
        class="form-control"
        value=""
        placeholder="Email"
        ng-required="true"
        ng-model="user.email">
      </input>
    </div>
    <div class="form-group">
      <label for="password-input">Password:</label>
      <input
        name="userPassword"
        type="password"
        class="form-control"
        value=""
        placeholder="Password"
        password
        ng-required="true"
        ng-model="user.password">
      </input>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default" name="submit-email-password" ng-disabled="form.$invalid">Sign In</button>
    </div>
  </form>
</div>
